.typing-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  border-right: 0.1em solid white;
  white-space: nowrap;
  animation: typing 4s steps(18, end), 0.5s both, blink-caret .75s step-end infinite;
  font-size: inherit;
  
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
