@keyframes popIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.slick-slider .slick-dots li button:before {
  color: white !important; 
  opacity: 0.5;
}

.slick-slider .slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
}




 .modal-image {
  opacity: 1 ; 
  transform: noen;
  width: 100%;
  max-height: 80vh;
  object-fit: contain;
 }


.carousel-image {
  width: 400px; 
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}

.popIn {
  animation: popIn 1.2s ease-out forwards;
}

.project-delay-1 {
  animation-delay: 0.2s;
}

.project-delay-2 {
  animation-delay: 0.4s;
}

.project-delay-3 {
  animation-delay: 0.6s;
}
